{% extends 'index.html' %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static "css/table.css" %}">
<link rel="stylesheet" href="{% static "css/accordion.css" %}">
<link rel="stylesheet" href="{% static "css/admin.css" %}">
{% endblock %}

{% block content %}
<div class="admin-site">
    <div class="accordion">
        <div class="contentBx">
            <div class="label">Añadir documento</div>
            <div class="content">
                <form method="post" enctype="multipart/form-data">

                    {% csrf_token %}

                    <input required type="text" name="nombreDocumento" placeholder="nombre del documento">
                    <input required type="text" name="autor" placeholder="nombre del autor">

                    <!--tipo de documento-->
                    <div class="dropdown">
                        <div class="select">
                            <span class="selected">{{selected.nombreTipo}}</span>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            {% for op in tipoDocumentos %}
                                {% if op == selected %}
                                    <li value="{{op.id}}" class="active">{{op.nombreTipo}}</li>
                                {% else %}
                                    <li value="{{op.id}}">{{op.nombreTipo}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <input hidden name="tipoDocumento" value="{{selected.id}}">
                    </div>

                    <input required type="text" name="cantidad" placeholder="cantidad">
                    <input required type="text" name="precio" placeholder="precio">

                    <!--documento fisico o electronico-->
                    <div class="dropdown">
                        <div class="select">
                            <span class="selected">Fisico</span>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            <li value="Fisico" class="active">Fisico</li>
                            <li value="Electronico">Electronico</li>
                        </ul>
                        <input hidden name="tipo" value="Fisico">
                    </div>

                    <input type="file" name="file" placeholder="Seleccione el documento">
                    <textarea required name="descripcion" placeholder="Descripcion del documento"></textarea>
                    <button name="btn" value="btn-newDocument" type="submit">Guardar</button>

                </form>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">Actualizar documento</div>
            <div class="content">
                <form method="post">

                    {% csrf_token %}

                    <!--Documentos-->
                    <div class="dropdown">
                        <div class="select">
                            <span class="selected">{{documentSelected.nombre}}</span>
                            <div value="update" class="caret"></div>
                        </div>
                        <ul class="menu">
                            {% for op in documentos %}
                                {% if op == documentSelected %}
                                    <li id="d{{op.id}}" value="{{op.id}}" class="active">{{op.nombre}}</li>
                                {% else %}
                                    <li id="d{{op.id}}" value="{{op.id}}">{{op.nombre}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <input hidden name="idDocumento" value="{{documentSelected.id}}">
                    </div>

                    <input required type="text" id="nombreDocumento" name="nombreDocumento" placeholder="nombre del documento" value="{{documentSelected.nombre}}">
                    <input required type="text" id="autor" name="autor" placeholder="nombre del autor" value="{{documentSelected.autor}}">

                    <!--tipo de documento-->
                    <div class="dropdown">
                        <div class="select">
                            <span class="selected">{{selected.nombreTipo}}</span>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            {% for op in tipoDocumentos %}
                                {% if op == selected.nombreTipo %}
                                    <li id="td{{op.id}}" value="{{op.id}}" class="active">{{op.nombreTipo}}</li>
                                {% else %}
                                    <li id="td{{op.id}}" value="{{op.id}}">{{op.nombreTipo}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <input hidden name="tipoDocumento" value="{{selected.id}}">
                    </div>

                    <input required type="text" id="cantidad" name="cantidad" placeholder="cantidad" value="{{documentSelected.cantidad}}">
                    <input required type="text" id="precio" name="precio" placeholder="precio" value="{{documentSelected.precio}}">

                    <!--documento fisico o electronico-->
                    <div class="dropdown">
                        <div class="select">
                            <span class="selected">{{documentSelected.tipo}}</span>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            {% if documentSelected.tipo == 'Fisico' %}
                                <li id="Fisico" value="Fisico" class="active">Fisico</li>
                                <li id="Electronico" value="Electronico">Electronico</li>
                            {% else %}
                                <li id="Fisico" value="Fisico">Fisico</li>
                                <li id="Electronico" value="Electronico" class="active">Electronico</li>
                            {% endif %}
                        </ul>
                        <input hidden name="tipo" value="{{documentSelected.tipo}}">
                    </div>

                    <textarea required name="descripcion" id="descripcion" placeholder="Descripcion del documento">{{documentSelected.descripcion}}</textarea>
                    <button name="btn" value="btn-updateDocument" type="submit">Guardar</button>

                </form>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">Eliminar documento</div>
            <div class="content">
                <form method="post">
                    {% csrf_token %}
                    <!--Documentos-->
                    <div class="dropdown">
                        <div class="select">
                            <span class="selected">{{documentSelected.nombre}}</span>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            {% for op in documentos %}
                                {% if op == documentSelected %}
                                    <li value="{{op.id}}" class="active">{{op.nombre}}</li>
                                {% else %}
                                    <li value="{{op.id}}">{{op.nombre}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <input hidden name="idDocumento" value="{{documentSelected.id}}">
                    </div>

                    <button name="btn" value="btn-deleteDocument" type="submit">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="tabla">
        <form class="orders" method="post">
            {% csrf_token %}
            <h4>Ordenes</h4>
            <button name="btn" type="submit" value="{{esCompra}}">
                {% if esCompra %}
                    Alquiles
                {% else %}
                    Compras
                {% endif %}
            </button>
        </form>
        <table>
            <!--cabecera-->
            <thead>
                <th>ID</th>
                <th>Documento</th>
                <th>Cliente</th>
                <th>total</th>
                {% if esCompra %}
                    <th>fecha</th>
                {% else %}
                    <th>fecha Inicio</th>
                    <th>fecha Fin</th>
                {% endif %}
            </thead>
            <!--datos-->
            <tbody>
                {% for order in orders %}
                    <tr id="{{order.id}}">
                        <td>{{order.id}}</td>
                        <td>{{order.nombre}}</td>
                        <td>{{order.username}}</td>
                        <td>{{order.total}}</td>
                        {% if esCompra %}
                            <td>{{order.fecha}}</td>
                        {% else %}
                            <td>{{order.fechaInicioAlquile}}</td>
                            <td>{{order.fechaFinAlquile}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    window.data = { documentos: {{ documentos|safe}}}
</script>
<script type="text/javascript">
    const documentos = window.data.documentos;
    const accordion = document.getElementsByClassName('contentBx')

    const searchProduct = (id) => {
        var producto = null;

        documentos.map((p) => {
            if (p.id == id) {
                producto = p
            }
        })

        return producto;
    }

    for(const op of accordion){
        op.querySelector('.label').addEventListener('click', () => {
            op.classList.toggle('active')
        })
    }

    const dropdowns = document.querySelectorAll('.dropdown')
    dropdowns.forEach(dropdown => {
        const select = dropdown.querySelector('.select')
        const caret = dropdown.querySelector('.caret')
        const menu = dropdown.querySelector('.menu')
        const options = dropdown.querySelectorAll('.menu li')
        const selected = dropdown.querySelector('.selected')
        const button = dropdown.querySelector('input')

        select.addEventListener('click', () => {
            select.classList.toggle('select-clicked')
            caret.classList.toggle('caret-rotate')
            menu.classList.toggle('menu-open')
        })

        options.forEach(option => {
            option.addEventListener('click', () => {
                selected.innerHTML = option.innerHTML
                button.setAttribute('value', option.getAttribute('value'))
                select.classList.remove('select-clicked')
                caret.classList.remove('caret-rotate')
                menu.classList.remove('menu-open')

                options.forEach(op => {
                    op.classList.remove('active')
                })

                option.classList.add('active')

                //Si es el de actualizar documento
                console.log(caret.getAttribute('value'))
                if(caret.getAttribute('value') == "update") {
                    const idDocument = option.getAttribute('value');
                    const producto = searchProduct(idDocument)
                    document.getElementById('nombreDocumento').setAttribute('value', producto.nombre);
                    document.getElementById('autor').setAttribute('value', producto.autor);
                    document.getElementById('cantidad').setAttribute('value', producto.cantidad);
                    document.getElementById('precio').setAttribute('value', producto.precio);
                    document.getElementById('descripcion').innerHTML = producto.descripcion;

                    document.getElementById('td' + producto.tipoDoc).click();
                    document.getElementById(producto.tipo).click();
                }
            })
        })
    })
</script>
{% endblock %}