{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    {% block css %}{% endblock %}

</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static "img/logo.svg" %}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">{{request.user.username}}</span>
                    <span class="profession">Web developer</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">

                    <li class="nav-link">
                        <a href="{% url 'home' %}">
                            <i class='bx bx-grid-alt icon' ></i>
                            <span class="text nav-text">Productos</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'history' %}">
                            <i class='bx bx-cart-alt icon' ></i>
                            <span class="text nav-text">Historial</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="{% url 'admins' %}">
                            <i class='bx bx-user icon' ></i>
                            <span class="text nav-text">Administrador</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="text">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script type="text/javascript" src="{% static "js/dashboard.js" %}" ></script>

    {% block js %}
    {% endblock %}

</body>
</html>
