{% extends 'index.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/card.css" %}">
{% endblock %}

{% block content %}

<div class="products">

    {% for p in products %}
    <div id="{{p.id}}" class="card">
        <div class="face front">
            {% if p.img %}
            <img src="{{p.img}}" alt="">
            {% else %}
            <img src="{% static "img/libro.webp" %}" alt="">
            {% endif %}
            <h3>{{p.nombre}}</h3>
        </div>
        <div class="face back">
            <h3>{{p.nombre}}</h3>
            <p>{{p.descripcion}}</p>
            <div class="link">
                <a>Autor: {{p.autor}}</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
    window.data = { products: {{ products|safe}}}
</script>
<script type="text/javascript" src="{% static "js/products.js" %}" ></script>
{% endblock %}